@font-face {
  font-family: IropkeBatangM; /* 폰트 이름을 정의(사용자 정의)*/
  src: local(IropkeBatangM), /* local : 서버에서 다운을 받지 않고 사용자의 컴퓨터에 이 폰트가 있으면 그 폰트를 사용하란 의미 */
       url(IropkeBatangM.eot?#iefix) format('embedded-opentype'), /* .eot 폰트는 IE 에서만 지원하는 폰트로 비표준 폰트*/
       url(IropkeBatangM.woff) format('woff'); /* .woff(Web Open Font Format) 웹 표준 폰트 */
  font-style: normal;
  font-weight: normal;
  /*
    사용할 유니코드의 범위를 정함.
    유니코드 범위 내 사용하는 문자가 없으면
    웹폰트를 다운로드 안함.
   */
  unicode-range: U+0-10FFFF;
}


@font-face {
    font-family: CJ_Regular;
    src: local(CJ_body_Regular),
    url(CJ_body_Regular.woff) format('woff');
    font-weight: normal;
}

@font-face {
    font-family: CJ_title_Bold;
    src: local(CJ_title_Bold),
    url(CJ_title_Bold.woff) format('woff');
    font-weight: normal;
}


@font-face{
    font-family:'LotteMartHappy';
    font-style:normal;
    font-weight:400;
    src:url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartHappy/LotteMartHappyBold.woff2') format('woff2'),
    url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartHappy/LotteMartHappyBold.woff') format('woff');
}

@font-face{
    font-family:'Daum';
    font-style:normal;
    font-weight:700;
    src:url('//cdn.jsdelivr.net/korean-webfonts/1/corps/daum/Daum/Daum-Regular.woff2') format('woff2'),
    url('//cdn.jsdelivr.net/korean-webfonts/1/corps/daum/Daum/Daum-Regular.woff') format('woff');
}